<nav id="menu">
    <!-- <p><h3>Menu</h3></p> -->
    <ul>
        <li><a href="https://jiwonhan0630.github.io/">홈으로</a></li>
        <!-- <li><a href="/projects/skill">보유 기술</a></li> -->
        {% for work in site.works %}
        <li>
            <a href="{{ work.url }}" class="menu-link {% if work.url == page.url %}active{% endif %}" {% if work.target %}target="{{ work.target }}"{% endif %}>
                {{ work.title }}
            </a>
        </li>
        {% endfor %}
        <li><a href="/elements">Elements</a></li>
    </ul>
</nav>