{% comment %} 초기화 {% endcomment %}
{% assign final_url = "#" %}
{% assign main_text = include.main-text %}
{% assign sub_text = include.sub-text %}

{% if include.doc %}
  {% comment %} 1. 내부 문서 검색 (site.documents + site.pages) {% endcomment %}
  {% assign all_content = site.documents | concat: site.pages %}
  {% assign target_doc = all_content | where: "relative_path", include.doc | first %}

  {% comment %} 2. 파일이 없으면 빌드 중단 (Fail-fast) {% endcomment %}
  {% if target_doc == nil %}
    {% include ERROR_LINK_NOT_FOUND:_{{ include.doc }}_CHECK_PATH.html %}
  {% endif %}

  {% comment %} 3. 문서 정보 할당 (Front Matter 우선) {% endcomment %}
  {% assign final_url = target_doc.url | relative_url %}
  {% assign main_text = target_doc.title | default: include.main-text %}
  {% assign sub_text = target_doc.description | default: include.sub-text %}

{% elsif include.url %}
  {% comment %} 외부 링크 또는 직접 입력된 URL 처리 {% endcomment %}
  {% assign final_url = include.url %}
{% endif %}

{::nomarkdown}
<a href="{{ final_url }}" class="button-subject {{ include.class }}">
    <span class="text-container">
        <span class="main-text">{{ main_text }}</span>
        {% if sub_text %}
        <span class="sub-text">{{ sub_text }}</span>
        {% endif %}
    </span>
    {% if include.icon %}
    <span class="icon-container">
        <span class="material-symbols-outlined">{{ include.icon }}</span>
    </span>
    {% endif %}
</a>
{:/}