/* 현재 보고 있는 페이지의 메뉴 링크 강조 */
#menu .menu-link.active {
		font-weight: bold;
		color: var(--color-highlight);
		padding: 0.5em 0 0.2em 0;
	}

ul.auto-toc {
    list-style: none;
    display: block;
    padding: 0;

    ul {
        list-style-type: none;
    }

    li {
        padding: 0;
        margin: 0;
    }

    a {
        padding: 0.3em 0.8em !important;
        display: block;
        font-size: 0.85em;         /* 본 메뉴보다 작게 */
        text-decoration: none;
        transition: color 0.2s, padding-left 0.2s;

        &:hover {
            padding-left: 0.4em !important;
            text-decoration:underline;
        }

        &.active {
            font-weight: bold;
            padding-left: 0.4em !important;
            color: var(--color-white) !important; /* 연한 회색 */
            border-left: 2px solid var(--color-blockquote) !important;
            background-color: var(--color-main-lightgray)
        }
    }
}



