	#info {
		.info-head
		{
			background-color: var(--color-main-level2);
			color: var(--color-text-negative);
			padding-bottom: _size(element-margin-v);
		}

		.info-title
		{
			font-weight: _font(weight-bold);
			font-size: 2.5em;
			line-height: 1.3;
		}

		ul {
			padding-left: 0;
		}

		li {
			display: inline-block;
			width: fit-content;
			list-style: none;
			padding: _size(element-margin-h) _size(element-margin-v) _size(element-margin-h) _size(element-margin-v);
			margin-top: 0.3em;
			border-radius: _size(border-radius)
		}
	}