	#info {
		background-color: _palette(main-lightgray);
		color: _palette(background-light);
		font-weight: _font(weight-bold);
		letter-spacing: _font(letter-spacing);
		font-size: 2.5em;
		line-height: 1.3;
	}