	#info {
		background-color: _palette(main-gray);
		color: _palette(background-light);
		padding-bottom: _size(element-margin-v);

		.info-title
		{
			font-weight: _font(weight-bold);
			font-size: 2.5em;
			line-height: 1.3;
		}
	}