	#info {
		background-color: var(--color-main-level2);
		color: var(--color-text-negative);


		.info-head {
			padding-bottom: _size(element-margin-v);
		}

		.info-title {
			font-weight: _font(weight-bold);
			font-size: 5rem;
		}

		.info-content {
			padding-bottom: 1rem;
		}

		ul {
			padding-left: 0;
		}

		li {
			display: inline-block;
			width: fit-content;
			list-style: none;
			padding: _size(element-margin-h) _size(element-margin-v) _size(element-margin-h) _size(element-margin-v);
			margin-top: 0.3em;
			border-radius: _size(border-radius)
		}
	}