	#info {
		.info-head
		{
			background-color: _palette(main-gray);
			color: _palette(background-light);
			padding-bottom: _size(element-margin-v);
		}

		.info-title
		{
			font-weight: _font(weight-bold);
			font-size: 2.5em;
			line-height: 1.3;
		}

		ul {
			padding-left: 0;
		}

		li {
			display: inline-block;
			width: fit-content;
			list-style: none;
			padding: 0.2em 0.4em 0.2em 0.4em;
			margin-top: 0.3em;
			border-radius: 4px;
		}
	}