	#info {
		background-color: var(--color-main-level5);
		color: var(--color-main-level2);
		padding: 2rem 0;
    	border-bottom: solid 1px var(--color-main-level4);

		.info-head {
			padding-bottom: _size(element-margin-v);
		}

		.info-title {
			font-weight: _font(weight-bold);
			font-size: 2rem;
			line-height: 1.4em;
		}

		.info-content {
			font-size: 1.1rem;
			// padding-bottom: 1rem;
		}

		ul {
			padding-left: 0;
		}

		li {
			display: inline-block;
			width: fit-content;
			list-style: none;
			padding: 0 _size(element-margin-v);
			margin-top: 0.3em;
			background-color: var(--color-border);
			border-radius: _size(border-radius)
		}
	}